*{
    font-family: serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 150px;
    max-width: 1000px;
}
html {
    font-size: 18px;
    margin-top: 3em;
}

header,
main,
footer{
    margin:0 auto;
    max-width: 800px;
}


section {
    padding: 2em 0;
    margin: 2em 0;
    min-height: 15em;
}
section ul{
    padding-left: 1.5em;
}

.navBar{
    position:absolute;
    width: 100%;
    display: flex;
    flex-flow: row;
    background: rgb(98, 94, 94)
}
nav a {
    color:white;
    padding: 0.5em 2em;
}
nav a:hover {
    background:rgb(209, 180, 76)
}

#aboutMe{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: coral;
    border-radius: 30px;
}

#bio{
    align-self: flex-end;
    width: 50%;
    border-style: double;
    padding: 2em;
    background-color: green;
}
#bio > img{
    width: 275px;
    height: 350px;
}

#contact{
    width: 100%;
    border-style: double;
    order: 1;
    align-self:flex-start;
    background-color: red;
}

#skills{
    width: 100%;
    border-style: double;
    align-self: flex-start;
    background-color: blue;
}


#projects-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1em 1em;
}
#projects-2 article{
    border-style: double;
    
    padding: 2em;
}

#projects-2 article img{
    width:170px;
}

footer{
    border-style: double;
    margin-top: 2em;
    margin-bottom: 1em;
    background:#666;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}




